body {
  background-image: url(body-background.avif);
  background-repeat: no-repeat;
  background-color: #000000;
  background-position: 100%;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  margin: 1.5rem;
}

#grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "main aside"
    "border border"
    "section section"
    "footer footer";
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

header {
  grid-area: header;
}

.navbar {
  /*background-image: url(pictures/placeholder3.png);*/
  /* ønsker ikke å bruke bakgrunnsbilde i header grunnet design, har derfor kommentert ut koden*/
  display: flex;
  align-items: center;
  width: 100%;
  margin: 1px;
  justify-content: space-between;
  align-items: baseline;
  font-size: 22px;
}

.logo {
  height: 70px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

nav ul li a:hover {
  color: #021613;
}

h3 a {
  text-decoration: none;
  color: #ffffff;
}

h3 a:hover {
  color: #085549;
}

.nav_list {
  list-style-type: none;
}

.list_entry {
  display: inline-block;
  padding: 1rem;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.navbar a:hover {
  color: #021613;
}

.hamburgermenu {
  display: none;
}

.hamburgermenu_lines {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 4px;
}

main {
  display: flex;
  flex-flow: wrap;
  flex-flow: column;
  grid-area: main;
  margin: 1rem;
  padding: 1rem;
  max-width: 40%;
  min-width: 20%;
  position: relative;
  z-index: 1;
}

main article {
  flex-wrap: wrap;
  flex-grow: 2;
  max-width: 1000px;
  font-size: 4vw;
  float: left;
}

main article p {
  font-size: 1rem;
}

aside {
  max-width: 0.5vw;
}

.divider_line {
  border-top: solid #ffffff;
  max-width: 100%;
  grid-area: border;
}

.lion_image {
  float: right;
  max-width: 600px;
  padding-right: 100px;
  position: relative;
  z-index: 0;
  opacity: 60%;
}

section {
  display: flex;
  flex-flow: wrap;
  grid-area: section;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 1rem;
}

section article {
  width: 100%;
  height: auto;
}

section article h3 {
  font-size: 2.8rem;
}

section article p {
  font-size: 1.2rem;
}

section article a {
  font-size: 1.8rem;
}

article a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

article a:hover {
  color: #085549;
  font-weight: bolder;
}

footer {
  grid-area: footer;
}

footer ul {
  display: flex;
  list-style: none;
  align-content: baseline;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 2rem;
  margin: 2rem;
}

footer ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.article_image {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 800px) {
  .navbar {
    /*background-image: url(pictures/placeholder3.png);*/
    /* ønsker ikke å bruke bakgrunnsbilde i header grunnet design, har derfor kommentert ut koden*/
    flex-direction: column;
    position: relative;
  }

  main {
    display: flex;
    flex-flow: wrap;
    flex-flow: column;
    grid-area: main;
    margin: 1rem;
    padding: 1rem;
    max-width: 100%;
    min-width: 20%;
  }

  .logo {
    height: 70px;
  }

  .nav_list {
    list-style-type: none;
    text-align: center;
    padding: 10px;
    width: 100%;
    display: none;
  }

  .list_entry {
    display: block;
    border: 1px;
  }

  .hamburgermenu {
    display: block;
    position: absolute;
    right: 30px;
    top: 20px;
  }

  .active {
    display: block;
  }

  .article-image {
    display: flex;
    justify-content: center;
  }

  .lion_image {
    float: right;
    max-width: 600px;
    padding-right: 100px;
    position: relative;
    z-index: 0;
    opacity: 20%;
  }
}

/* BREAKPOINT NÅR SKJERMEN ER MER ENN 800PX*/

@media only screen and (min-width: 800px) {
  body {
    background-image: url(body-background.avif);
    background-repeat: no-repeat;
    background-color: #000000;
    background-position: 100%;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    margin: 1.5rem;
    max-width: 1920px;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  main {
    display: flex;
    flex-flow: wrap;
    flex-flow: column;
    grid-area: main;
    margin: 0;
    padding: 0;
    max-width: 40%;
    min-width: 20%;
  }

  #grid-container {
    display: grid;
    width: 100%;
    grid-template-areas:
      "header header header"
      "main main aside"
      "border border border"
      "section section section"
      "footer footer footer";
    grid-row: 1fr 1fr 1fr;
    grid-column: auto;
  }

  main article {
    flex-wrap: wrap;
    flex-grow: 2;
    max-width: 1920px;
    font-size: 1.5vw;
  }

  main article p {
    max-width: 2fr;
  }

  section {
    grid-area: section;
    display: flex;
    flex-flow: row;
    justify-content: center;
    justify-content: space-around;
  }

  section article {
    max-width: 25%;
    height: auto;
  }

  section article p {
    font-size: 1.2rem;
  }

  section article a {
    font-size: 2rem;
  }

  section h3 {
    font-size: 2.8rem;
    text-align: center;
  }

  footer {
    grid-area: footer;
  }

  footer ul {
    display: flex;
    list-style: none;
    align-content: baseline;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    padding: 2rem;
    margin: 2rem;
  }

  footer ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }
}
